.card-game-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: -10px;
  gap: 10px;

  /* width: 95vw; */
}

.card-game-container a {
  text-decoration: none;
  color: white;
}

.card-game {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 237px;
  background-color: #1b1b1b;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 1px rgb(0 24 54 / 100%);
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.card-game img {
  width: 100%;
  height: 82px;
  border-radius: 10px 10px 0 0;
}

.platforms {
  display: flex;
  gap: 10px;
}

.platforms span {
  font-size: 16px;
  margin: 5px 0;
}

.game-info-container {
  padding: 8px;
}

.game-info-container h3 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 10px;
}

.rating {
  border-radius: 5px;
  border: solid 1px gray;
  color: rgb(245 245 245 / 60%);
  width: 35px;
  text-align: center;
  padding: 5px;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-info {
  font-size: 14px;
}

.game-info p {
  color: rgb(245 245 245 / 60%);
}

@media only screen and (min-width: 950px) {
  .card-game-container {
    padding: 0 40px;
  }

  .card-game {
    width: 250px;
    height: 300px;
  }

  .card-game img {
    height: 140px;
  }
}

/* ----------------------------------------------
* Generated by Animista on 2022-12-27 14:30:24
* Licensed under FreeBSD License.
* See http://animista.net/license for more info.
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation scale-in-center
* ----------------------------------------
*/

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
