.card-game-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-top: -10px;
    gap: 10px;
    /* width: 95vw; */
}

.card-game-container a {
    text-decoration: none;
    color: white;
}

.card-game {
    display: flex;
    flex-direction: column;
    width: 145px;
    height: auto;
    background-color: #1b1b1b;
    border-radius: 10px 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,24,54,1);
-moz-box-shadow: 0px 0px 10px 1px rgba(0,24,54,1);
box-shadow: 0px 0px 10px 1px rgba(0,24,54,1);
}

.card-game img {
    width: 100%;
    height: 82px;
    border-radius: 10px 10px 0 0
}

.platforms{
  display: flex;
  gap: 10px;
}

.platforms span{
  font-size: 16px;
  margin: 5px 0;
}

.game-info-container {
  padding: 8px;
}

.game-info-container h3{
  font-size: 16px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 10px 0 ;
}

.rating {
  border-radius: 5px;
  padding: 4px;
  width:35px;
  margin-top: 20px;
  text-align: center;
}

.game-info {
    font-size: 14px;
}

.game-info p {
  color: rgba(245, 245, 245, 0.6);
}


/* ----------------------------------------------
* Generated by Animista on 2022-12-27 14:30:24
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation scale-in-center
* ----------------------------------------
*/

.card-game {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  