.game-details-container {
  padding: 15px;
  color: rgb(245 245 245 / 60%);
}

.game-details-container h3 {
  color: #677def;
}

.header-details {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  z-index: 1;
  height: 40px;
}

.header-details span {
  font-size: 25px;
  color: white;
  margin-left: 10px;
}

.game-img {
  width: 100%;
  top: 0;
  filter: brightness(0.6);
}

.game-id h2 {
  margin-top: 0;
  color: white;
}

.game-id h4 {
  margin-top: -15px;
  font-weight: 350;
}

.game-id div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.game-id div div {
  display: flex;
  justify-content: space-between;
  width: 80px;
  color: white;
}

.fav {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #677def;
}

.game-details p {
  margin: 8px 0;
  color: white;
}

.acvmts-btn {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  color: #677def;
  border: solid 1px #004aad;
  cursor: pointer;
  font-weight: 900;
}

.related-container {
  overflow-x: scroll;
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.related-container a {
  color: white;
  text-decoration: none;
}

.scale-up-center {
  animation: scale-up-center 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.stores-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.stores-container a {
  text-decoration: none;
  color: #677def;
  font-weight: 900;
}

.stores-container span {
  display: flex;
  align-items: center;
  border: 1px solid #004aad;
  border-radius: 5px;
  gap: 10px;
  height: 30px;
  padding: 5px;
  width: 172px;
  margin-top: 10px;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-28 10:25:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
