.game-details-container {
    padding: 15px;
    color: rgba(245, 245, 245, 0.6);
}

.game-details-container h3{
    color:  white;
}

.header-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
}

.header-details span {
    font-size: 25px;
    color: #004AAD;
    margin-left: 10px;
}

.header-details button {
    border: solid 1px #004AAD;
    color: #004AAD;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    margin-right: 10px;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap:5px;
}

.game-img{
  width: 100%;
  top: 0;
}

.game-id h2 {
    margin-top: 0;
    color: white;
}

.game-id h4 {
    margin-top: -15px;
    font-weight: 350;
}

.game-id div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.game-id div div {
    display: flex;
    justify-content: space-between;
    width: 80px;
    color: white;
}

.game-id div  button {
    background-color: transparent;
    color: white;
    font-weight: 900;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.game-id div  button:hover {
    border: solid 1px #3a3a3a;
}

.game-details p {
    margin: 8px 0;
}

.acvmts-btn {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    color: #004AAD;
    font-weight: 900;
    border: solid 1px #004AAD;
    cursor: pointer;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-28 10:25:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

