.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #292929;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #464646;
}

.header-container a {
    color: white;
    text-decoration: none;
}

.header-container button {
    padding: 5px;
    background-color: #292929;
    border: solid 1px #464646;
    color: white;
    display: flex;
    gap: 5px;
    font-weight: 900;
    border-radius: 5px;
    margin-right: 10px;
}

.header-container button:hover {
    background-color: #202020;
}
	
/* .user-infos {
    display: flex;
    justify-content: space-around;
}
.user-infos img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
} */