body {
	font-family: montserrat;
}

nav {
	background: #1B1B1B;
	height: 60px;
	width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

nav ul {
	float: right;
	margin-right: 20px;
        background-color: #1B1B1B;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
}

nav ul a {
        text-decoration: none;
}

nav ul li {
	line-height: 80px;
	margin: 0 5px;
        color: white;
        font-weight: 900;
        display: flex;
        align-items: center;
        gap:5px;
        font-size: 17px;
}

.checkbtn {
	font-size: 30px;
	color: white;
	line-height: 80px;
        margin: 10px 20px 0 0;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 858px){

	.checkbtn {
		display: block;
	}

        .header-container {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1;
                margin-bottom: 50px;
        }

	nav ul{
		position: fixed;
		width: 50vw;
		height: 70%;
		top: 44px;
		right: -100%;
		text-align: center;
		transition: all .5s;
                display: flex;
                flex-direction: column;
	}
	nav ul li{
		display: flex;
                align-items: center;
                gap: 10px;
		margin: 50px 0;
		line-height: 30px;
                height: 40px;
                margin: 20px 5px;
	}
	nav ul li a {
		font-size: 20px;
                text-decoration: none;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
	#check:checked ~ ul {
		right: 0;
                margin-right: 0;
	}
}


.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140px;
}

.logo  img{
    width: 42px;
    margin-left: 10px;
}

.logo span {
    font-weight: 900;
    color: white;
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s bothh;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-29 0:23:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  