.header-container {
  background: #1b1b1b;
}

nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul a {
  text-decoration: none;
  color: #677def;
}

nav ul li {
  line-height: 80px;
  margin: 0 5px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
  color: #677def;
}

nav ul li button {
  background-color: transparent;
  border: none;
  color: #677def;
  font-size: 17px;
  font-weight: 900;
  line-height: 80px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  line-height: 80px;
  margin: 10px 20px 0 0;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  .header-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 50px;
  }

  nav ul {
    background: #1b1b1b;
    position: fixed;
    width: 50vw;
    height: 380px;
    top: 40px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
    display: none;
    z-index: 1;
  }

  nav ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 30px;
    height: 40px;
    margin: 20px 5px;
    color: #677def;
  }

  nav ul li a {
    font-size: 20px;
    text-decoration: none;
  }

  #check:checked ~ ul {
    right: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 140px;
}

.logo img {
  width: 42px;
  margin-left: 10px;
}

.logo span {
  font-weight: 900;
  color: white;
}

.bounce-in-top {
  animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s bothh;
}

@media only screen and (min-width: 859px) {
  .navbar a li {
    color: #677def;
  }
}

@media only screen and (min-width: 950px) {
  .navbar a li {
    color: #677def;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2022-12-29 0:23:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */

  @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }

    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }

    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }

    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }

    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }

    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }

    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }

    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }

  @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }

    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }

    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }

    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }

    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }

    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }

    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }

    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }

  .scale-up-tr {
    animation: scale-up-tr 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2023-1-3 15:9:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation scale-up-tr
 * ----------------------------------------
 */
  @keyframes scale-up-tr {
    0% {
      transform: scale(0.5);
      transform-origin: 100% 0%;
    }

    100% {
      transform: scale(1);
      transform-origin: 100% 0%;
    }
  }

  @keyframes scale-up-tr {
    0% {
      transform: scale(0.5);
      transform-origin: 100% 0%;
    }

    100% {
      transform: scale(1);
      transform-origin: 100% 0%;
    }
  }
}
