.form-login-container {
    display: flex;
    height: 100vh;
    width: 100vw;     
    align-items: center;
    justify-content: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
    max-width: 500px;
    height: 60vh;
    width: 80vw;
    border-radius: 25px;
    gap: 25px;
}

.form-login input {
    padding: 8px;
    border-radius: 6px;
    border: none;
    height: 20px;
    width: 200px;
}

.form-login button {
    width: 120px;
    height: 33px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 900;
    background-color: #292929;
    cursor: pointer;
}

.form-login button:disabled {
    opacity: 0.3;
    transition: 0.5s;
}

.form-login button:enabled {
    opacity: 0.5s;
    transition: 1s;
}

.form-login button:hover {
    background-color: #383838;
}


