.user-infos {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.user-infos img {
  border-radius: 50%;
  max-width: 200px;
}

.user-infos p {
  font-weight: 900;
}

.user-infos button {
  background-color: transparent;
  text-align: center;
  border: 1px solid blue;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  gap: 5px;
  color: #677def;
  font-weight: 900;
}
